{% extends "base.html" %}
{% block content %}
<!--Displays agent details-->
<div>
    <h1>{{agent.first_name|capfirst}} {{agent.last_name|capfirst}} </h1>
    <br><br>
    <p><b>Provider:</b> {{ agent.provider}} </p>
    <p><b>Email:</b> {{ agent.email_address}} </p>
    <p><b>Phone:</b> {{ agent.phone_number}} </p>
    <br><br>

    <!--the below details relate to the form and vaildation-->
    
    <!--
    <form method="post" action="">
        {% csrf_token %}
        {{ form }}
        <button type="submit" value="save">Submit</button>
    </form>
    -->
</div>
{% endblock %}
