{% extends "base.html" %}

{% block content %}
<!--displays the tours that belong to the logged in agent - my tours-->
<h1>My Tours books</h1>

    {% if tourinstance_list %}
<ul>

    {% for tourinst in tourinstance_list %}
    <li class="{% if tourinst.is_finished %}text-danger{% endif %}">
        <a href="{% url 'tour_detail' tourinst.tour.pk %}">{{tourinst.tour.tour_name}}</a>
    </li>
    {% endfor %}
</ul>

    {% else %}
<p>There are no tours to view.</p>
    {% endif %}
{% endblock %}
