
/*@navigation-transition enter 0.5s {
    html {
        background-color: transparent;
        animation: fade-in 0.5s;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}*/




body {
    background-color: #000000;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}



p {
    color: #F2F2F2;
}
h3 {
    color: #f2f2f2;
}

h4 {
    color: #f2f2f2;
}


nav li a {
    color: #F2F2F2;
}


ul.sidenav li a {
    color: #F2F2F2;
}

.alert {
    background-color: #FFFFFF;
    color: #262626;
}

.grey {
    background-color: #262626;
}




footer {
    color: #f2f2f2;

}
    footer .spacer {
        background-color: #000000;
}

footer .words {
    background-color: #262626;

}




@keyframes fadein {
    from {
        /*opacity: 0;*/
        background-color: #FFFFFF;
    }

    to {
        /*opacity: 1;*/
        background-color: #000000;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        /*opacity: 0;*/
        background-color: #FFFFFF;
    }

    to {
        /*opacity: 1;*/
        background-color: #000000;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        /*opacity: 0;*/
        background-color: #FFFFFF;
    }

    to {
        /*opacity: 1;*/
        background-color: #000000;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        /*opacity: 0;*/
        background-color: #FFFFFF;
    }

    to {
        /*opacity: 1;*/
        background-color: #000000;
    }
}
