

body {
    width: 960px;
    margin: 0px auto;
    font-family: Arial;
    background-color: #FFFFFF;
    border: 0px solid red;
    padding: 0px 0px;
}

p {
    color: #262626;
}

h1 {
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: 400;
}

h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 200;
}

h3 {
    color: #262626;
}

h4 {
    color: #262626;
}

a {
    text-decoration: none;
    color: #262626;
}

/******************/
/*BLACK FADING*/
/****************/
div {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#test p {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}



@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}





/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.alert {
    background-color: #008000;
    color: #F2F2F2;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    border: 0px solid blue;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    border-width: 0px 0px;
    padding: 20px 0px 0px 0px;
}



footer {
    color: #262626;
    text-align: left;
    font-size: small;
}

    footer .words {
        background-color: #f2f2f2;
        padding: 10px;
    }

    footer .spacer {
        background-color: #ffffff;
        height: 15px;
    }

.container {
    position: relative;
    text-align: center;
}

.grey {
    background-color: #f2f2f2;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    border-width: 20px 0px 0px 0px;
    border: 0px solid red;
}
/* Centered text */

.heroupper {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.herolower {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
}

    .herolower a {
        display: inline;
        border: 1px solid #ffffff;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        margin: 0px 10px;
    }


.contentl {
    width: 550px;
    float: left;
    border: 0px solid red;
    text-align: left;
    padding: 40px 20px 10px 20px;
}

.contentr {
    width: 350px;
    float: right;
    border: 0px solid blue;
    padding: 60px 10px 30px 0px;
}

.contentclear {
    clear: both;
}

div.burger {
    width: 35px;
    height: 4px;
    background-color: #008000;
    margin: 8px 0;
}

.burgerbox {
    position: absolute;
    display: none;
    left: 12px;
    top: 10px;
    z-index: 998;
}

img.burger {
    /*margin-top: 30px;*/
    width: 60px;
}

img.logomobile {
    position: absolute;
    display: none;
    left: 25%;
    top: 12px;
    z-index: 998;
    width: 240px;
}

.navbar {
    position: relative;
    text-align: center;
}

.navbarr {
    text-align: right;
    border: 0px solid red;
    height: 30px;
}


nav {
    align-content: center;
}

    nav ul {
        background-color: #ffffff;
        margin: 0;
        padding: 5px 0px 15px 0px;
    }

    nav li {
        margin: 5px;
        display: inline;
        list-style: none;
        padding: 5px;
        border: none;
        font-family: sans-serif;
    }

        nav li a {
            text-decoration: none;
            font-family: sans-serif;
            color: #262626;
            font-size: small;
        }





ul.sidenav {
    margin: 5px;
    list-style: none;
    padding: 5px;
    border: none;
    font-family: sans-serif;
}

    ul.sidenav li {
        margin: 0px;
        list-style: none;
        padding: 5px;
        border: none;
        font-family: sans-serif;
    }

        ul.sidenav li a {
            text-decoration: none;
            font-family: sans-serif;
            color: #262626;
            font-size: small;
        }

.sidenav {
    width: 180px;
    float: left;
    border: 0px solid red;
    text-align: left;
    padding: 0px 0px 0px 20px;
}

    .sidenav hr {
        visibility: hidden;
    }





.subcontent {
    width: 750px;
    float: right;
    border: 0px solid blue;
    padding: 0px;
    text-align: left;
}

img.homeimage {
    width: 300px;
}


div.sort{
    text-align:right;
    padding: 10px;
}


img.producthero {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 220px;
}

div.producthero {
    width: 700px;
    float: right;
    border: 0px solid blue;
    padding: 30px 10px 60px 10px;
    text-align: left;
    vertical-align: middle;
}

div.productherotext {
    float: left;
    width: 430px;
    border: 0px solid red;
    padding: 30px 0px 0px 20px;
    text-align: left;
    vertical-align: middle;
}

div.productheroprice {
    float: right;
    width: 200px;
    padding: 0px 0px 0px 0px;
    border: 0px solid green;
}

div.productlist {
    border: 0px solid pink;
}

div.productlistitem {
    border: 0px solid red;
    width: 200px;
    height: 260px;
    float: left;
    padding: 20px 20px 50px 20px;
    text-align: center;
    vertical-align: middle;
}


img.productlistitem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

div.productlistitemtext {
    width: 200px;
    border: 0px solid red;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

img.productdetail {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 220px;
}

div.productdetail {
    width: 700px;
    float: right;
    border: 0px solid blue;
    padding: 10px 10px 60px 10px;
    text-align: left;
    vertical-align: middle;
}

div.productdetailtext {
    float: left;
    width: 430px;
    border: 0px solid red;
    padding: 0px 0px 0px 20px;
    text-align: left;
    vertical-align: middle;
}



div.productpricecart {
    border: 0px solid red;
}

/*************************************************************/
/*media queries */

/************************************************************** 960 ***/
@media screen and (max-width: 960px) {
    body {
        width: 760px;
    }

    h1 {
        font-size: 2.0em;
    }

    h2 {
        font-size: 1.2em;
    }

    .logo {
        width: 160px;
    }

    .alert {
        font-size: .8em;
        font-weight: 600;
    }

    .hero {
        width: 760px;
    }


    .contentl {
        width: 420px;
    }

    .contentr {
        width: 280px;
        padding: 60px 10px 0px 0px;
    }

    img.homeimage {
        width: 250px;
    }

    ul.sidenav li {
        display: inline;
    }

    .sidenav {
        width: 400px;
    }

        .sidenav hr {
            visibility: visible;
        }
}

/************************************************************** 768 ***/
@media screen and (max-width: 768px) {

    body {
        width: 100%;
        border: 0px solid red;
        margin: 0px;
        padding: 0px;
    }

    h1 {
        font-size: 1.0em;
    }

    h2 {
        font-size: .8em;
    }

    .logo {
        width: 160px;
        display: none;
    }

    header {
        padding: 30px;
    }

    .alert {
        display: none;
        background-color: #FFFFFF;
        color: #F2F2F2;
        font-family: sans-serif;
        font-size: .8em;
        font-weight: 100;
        height: 59px;
        text-align: right;
        padding: 0px;
        vertical-align: middle;
        border: 0px solid red;
    }

    .hero {
        width: 95%;
    }

    .herolower {
        border: 0px solid green;
    }

    .contentl {
        float: none;
        width: 90%;
        text-align: center;
    }

    .contentr {
        float: none;
        border: 0px solid red;
        width: 90%;
        padding: 10px 10px 50px 10px;
        text-align: center;
    }

    img.homeimage {
        width: 250px;
    }

    ul.sidenav li {
        display: inline;
    }

    .sidenav {
        width: 400px;
    }

        .sidenav hr {
            visibility: visible;
        }


    /**** rename buttons ****/

    .btnchange[data-abbr]::after {
        content: attr(data-abbr);
    }

    /* Hide the original label */
    .btnchange > span {
        display: none;
    }


    nav li {
        display: block;
        height: 40px;
    }

        nav li a {
            text-decoration: none;
            font-family: sans-serif;
            color: #262626;
            font-size: 1.3em;
        }


    nav {
        /*display: block;*/
        /*display: none;*/
        /*position: static;*/
        /*padding: 0px 0px;*/
        /*background-color: #4b0a0c;*/
        position: absolute;
        display: none;
        left: 0;
        top: 60px;
        width: 100%;
        /*height: 100%;*/
        z-index: 998;
        /*background: #FFFFFF;*/
        /*background: rgba(0,0,0,1);*/
        cursor: default;
        /*display: block;*/
        margin: 0px;
        padding: 0px;
        border: none;
    }

    navbarr {
        display: block;
        text-align: left;
    }

    .burgerbox {
        display: block;
    }

    img.logomobile {
        display: block;
    }


    .subcontent {
        width: 90%;
        /*float: right;*/
        border: 0px solid #ff6a00;
        /*padding: 0px;*/
        text-align: center;
    }


    img.producthero {
        margin-top: 30px;
        width: 120px;
    }

    div.producthero {
        width: 100%;
        float: right;
        padding: 30px 10px 60px 10px;
    }

    div.productherotext {
        width: 65%;
        padding: 30px 0px 0px 10px;
        border: 0px solid blue;
    }

    div.productheroprice {
        width: 200px;
        padding: 0px 0px 0px 0px;
    }


    div.productlist{
        border: 0px solid pink;
    }
    div.productlistitem {
        width: 90%;
        float: left;
        border: 0px solid blue;
        padding: 20px 20px 50px 20px;
        text-align: center;

    }


    img.productlistitem {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 120px;
    }

    div.productlistitemtext {
        width: 100%;
        border: 0px solid red;
        padding: 0px;
        text-align: center;
        vertical-align: middle;
    }


    img.productdetail {
        float:left;
    }

    div.productdetail {
        width: 100%;
        float: right;
        border: 0px solid blue;
        padding: 10px 10px 60px 10px;
        text-align: center;
        vertical-align: middle;
    }

    div.productdetailtext {
        float: left;
        width: 430px;
        border: 0px solid red;
        padding: 0px 0px 0px 0px;
        text-align: left;
        vertical-align: middle;
    }




}
