
body {
    width: 960px;
    margin: 0 auto;
    font-family: Arial;
    background-color: #FFFFFF;

}
p {
    color: #262626;
}
h1 {
    font-family: sans-serif;
    font-size:2.5em;
    font-weight: 400;
}
h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 200;
}
h3 {
    color: #262626;
}
h4 {
    color: #262626;
}

/******************/
/*BLACK FADING*/
/****************/


#test p {
    /*margin-top: 25px;
    font-size: 21px;
    text-align: center;*/
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}



@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}





/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.alert {
    background-color: #008000;
    color: #F2F2F2;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    border-width:0px 0px;
    padding: 20px 0px 0px 0px;
    
}



footer {
    color: #262626;
    text-align: left;
    
    font-size: small;
}
    footer .words {
        background-color: #f2f2f2;

        padding: 10px;
    }
    footer .spacer {
        background-color: #ffffff;
        height: 15px;
    }
.container {
    position: relative;
    text-align: center;

}
.white {
    /*background-color: #ffffff;*/
}
.grey {
    background-color:#f2f2f2;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    border-width: 20px 0px 0px 0px;
    border: 1px solid red;
}
/* Centered text */

.heroupper {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.herolower {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width:80%;
}

.herolower a {
    display: inline;
    border: 1px solid #ffffff;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    margin: 0px 10px;
}


.contentl {
    width: 550px;
    float: left;
    border: 0px solid red;
    text-align: left;
    padding: 40px 20px 10px 20px;
}
.contentr {
    width: 350px;
    float: right;
    border: 0px solid blue;
    padding: 60px 10px 30px 0px;
}
.contentclear{
    clear:both;
}

nav{
    align-content:center;
}

nav ul {
    /*background-color: #ffffff;*/
    margin: 0;
    padding: 5px 0px 15px 0px;

    
    
}

nav li {
    margin: 5px;
    display: inline;
    list-style: none;
    padding: 5px;
    border: none;
    font-family: sans-serif;
}

nav li a {
    text-decoration: none;
    font-family: sans-serif;
    color: #262626;
    font-size:small;
}



ul.sidenav {
    margin: 5px;
    list-style: none;
    padding: 5px;
    border: none;
    font-family: sans-serif;
}
    ul.sidenav li {
        margin: 0px;
        list-style: none;
        padding: 5px;
        border: none;
        font-family: sans-serif;
    }

        ul.sidenav li a {
            text-decoration: none;
            font-family: sans-serif;
            color: #262626;
            font-size: small;
        }

.sidenav {
    width: 180px;
    float: left;
    border: 0px solid red;
    text-align: left;
    padding: 0px 0px 0px 20px;
}
    .sidenav hr {
        visibility: hidden;
    }

.navbarr{
        float:right;
        
    }



.subcontent {
    width: 750px;
    float: right;
    border: 0px solid blue;
    padding: 0px;
    text-align: left;
}

img.homeimage {
    width: 300px;
}

img.producthero {
    float:left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    width: 220px;

}

div.producthero {
    width: 700px;
    /*height: 400px;*/
    float: right;
    border: 0px solid blue;
    padding: 30px 10px 60px 10px;
    text-align:left;
    vertical-align:middle;
}
div.productherotext {
    float:left;
    width:430px;
    border: 0px solid red;
    padding: 30px 0px 0px 20px;
    text-align: left;
    vertical-align: middle;
}
div.productheroprice {
    float:right;
    width: 200px;
    padding: 0px 0px 0px 0px;
    border: 0px solid green;
}



div.productlist {
    width: 200px;
    height: 260px;
    float: left;
    border: 0px solid blue;
    padding: 20px 20px 50px 20px;
    text-align: center;
    vertical-align: middle;
}


img.productlist {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

div.productlisttext {
    
    width: 200px;
    border: 0px solid red;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    
}

a {
    text-decoration:none;
}


div.productdetail {
    width: 700px;
    /*height: 400px;*/
    float: right;
    border: 0px solid blue;
    padding: 10px 10px 60px 10px;
    text-align: left;
    vertical-align: middle;
}
div.productdetailtext {
    float: left;
    width: 430px;
    border: 0px solid red;
    padding: 0px 0px 0px 20px;
    text-align: left;
    vertical-align: middle;
}



div.productheroprice {
    float: right;
    width: 200px;
    padding: 0px 0px 0px 0px;
    border: 0px solid green;
}

div.productpricecart{
    
    border: 0px solid red;
}

/*************************************************************/
/*media queries */

/************************************************************** 960 ***/
@media screen and (max-width: 960px) {
    body {
        width: 760px;
    }

    h1 {
        font-size: 2.0em;
    }

    h2 {
        font-size: 1.2em;
    }

    .logo {
        width: 160px;
    }
    .alert {

        font-size: .8em;
        font-weight:600;
    }

    .hero {
        width: 760px;
    }


    .contentl {
        width: 420px;
    }

    .contentr {
        width: 280px;
        padding: 60px 10px 0px 0px;
    }
    img.homeimage {
        width: 250px;
    }

    ul.sidenav li {
        display: inline;
    }

    .sidenav {
        width: 400px;
    }
    .sidenav hr{
        visibility:visible;
    }

}

/************************************************************** 768 ***/
@media screen and (max-width: 768px) {

    body {
        width: 100%;
    }

    h1 {
        font-size: 1.0em;
    }

    h2 {
        font-size: .8em;
    }

    .logo {
        width: 160px;
    }

    .alert {
        font-size: .8em;
        font-weight: 600;
    }

    .hero {
        width: 95%;
    }
    .herolower{
        border:1px solid green;

    }

    .contentl {
        float: none;
        width: 90%;
        text-align: center;
    }

    .contentr {
        float:none;
        border:0px solid red;
        width: 90%;
        padding: 10px 10px 50px 10px;
        text-align: center;
    }

    img.homeimage {
        width: 250px;
    }

    ul.sidenav li {
        display: inline;
    }

    .sidenav {
        width: 400px;
    }

        .sidenav hr {
            visibility: visible;
        }


/**** rename buttons ****/

    .btnchange[data-abbr]::after {
        content: attr(data-abbr);
    }

    /* Hide the original label */
    .btnchange > span {
        display: none;
    }

}

