{% extends "layout.html" %}

{% block content %}


<div class="container grey" id="grey">

    <div class="contentl">
        <div>
            <h1>The ecoPineapple Story</h1>
            <h2>We don't sell pineapples</h2>

            <h2>ecoPineapple is all about saving the earth.</h2>
            <p>Being conscious about our fragile environment is what inspired Clera Christian to start ecoPineapple. Before ecoPineapple Clera was a tutor, and in her role she saw students create waste, and although aware of the need for us to do more, recycle more, create less waste, there was still nothing that caught the attention and really stood out as being a significant daily reminder. There was talk of SpaceX and Virgin enabling people to travel into space, and that’s something that stuck with Clera…</p>
            <p>‘Leave earth, save the planet or leave earth’ was a statement that started to come to mind for Clera, and ecoPineapple was born. The idea was simple provide eco-friendly products for home use such as cleaning, furniture, and house hold items for those who wanted to make a change. For those who didn’t, enable them to leave earth.</p>
            <p>If you are not interested in buying eco-friendly then you can still help the planet by doing your part and leaving.  It was a blunt message, but it was also true.  Clera worked with a team to be able to achieve this outcome, and today ecoPineapple helps provide products to those who want to make a difference, and those who are not interested in changing their habits, they now have the opportunity to do their part, by buying a seat or an entire rocket, and leaving.</p>
            <p>lastly, we must all do our part, if you can afford a rocket by all means, do that, but if you can't there is no excuse for not doing the right thing!</p>
        </div>
    </div>
    <div class="contentr">--NEED NEW IMAGE--
        <img class="homeimage" src="../../static/images/homepage.PNG" />
    </div>
    <div class="contentclear"> </div>
</div>

{% endblock %}
