{% extends "layout.html" %}

{% block content %}

<div class="hero">

    <div class="container">

        <img src="../../static/images/homeBack.PNG" alt="background image of pineapples" style="width:100%;">

        <div class="heroupper">
            <h1>Welcome to ecoPineapple</h1>
            <h2>Your eco store, that also sells rockets</h2>
        </div>

        <div class="herolower">
            <a href="{% url 'product_list' %}">
                <span class="btnchange" data-abbr="Homeware">
                    <span>Browse Homeware</span>
                </span>
            </a>
            <a href="{% url 'rocket_home' %}">
                <span class="btnchange" data-abbr="Rockets">
                    <span>Browse Rockets</span>
                </span>
            </a>
            </div>






        </div>
</div>

<div class="container grey" id="grey">

    <div class="contentl">

        
        <h3>Here at ecoPineapple we are all for promoting sustainability. </h3>
        <p>Our products are all made from recycled materials and have a minimal environmental burden.</p>
        <p>Our products strive to have a second life to avoid being sent to the landfill.</p>
        <p>Our store is hoping to expand the markets where recyclables are sold and to provide more resources to educate customers on the do’s and don’ts of recycling.</p>
        <p>Our products strive to have a second life to avoid being sent to the landfill.</p>
        <p>Paraphrasing the late Stephen Hawking, the only thing that may save us from ourselves is to spread out into space. With that in mind, people should definitely be worried with how we treat our planet.  If not look at the price to purchase a rocket and leave.  Maybe going eco will not cost you as much as you think.</p>
        <h3><i>Happy shopping, from the team at ecoPineapple</i></h3>

    </div>
<div class="contentr">
<img class="homeimage" src="../../static/images/homepage.PNG"/>
    </div>
<div class="contentclear"> </div>
    </div>

{% endblock %}
