{% extends "layout.html" %}

{% block content %}

<div class="container grey" id="grey">

    <div class="sidenav">
        <h4>Product Categories</h4>
        <ul class="sidenav">
            <li><a href="#">Cleaning</a></li>
            <li><a href="#">Furniture</a></li>
            <li><a href="#">Personal</a></li>
            <li><a href="#">Food &amp; Drink</a></li>
        </ul>
    </div>

<div class="subcontent">



    <div class="productdetail">

        <img class="productdetail" src="../../media/{{ product.image}}" />
        <div class="productdetailtext">
            <h4>{{ product.name|capfirst }}</h4>
            <p>{{ product.desc_short }}</p>
            <p>{{ product.desc_long }}</p>
            <div class="productheroprice">
                <div class="productpricecart">
                    ${{ product.price }}
                    <br />
                    <button onclick="cartAdd('{{ product.name|capfirst }}')">Add to Cart</button>
                </div>
            </div>

        </div>
    </div>
    <div class="contentclear"></div>


    <hr />










    <div class="contentclear"></div>


</div>
    <div class="contentclear"></div>
</div>

    

{% endblock %}
