{% extends "layout.html" %}

{% block content %}

<div class="container grey" id="grey">

<div class="productl">
    <div class="productmenu">
        <h3>Product Categories</h3>
<ul class="productnav">   
                    <li><a href="{% url 'product_list' %}">Cleaning</a></li>
                    <li><a href="{% url 'product_list' %}">Furniture</a></li>
                    <li><a href="{% url 'product_list' %}">Personal</a></li>
                    <li><a href="{% url 'product_list' %}">Food &Aacute; Drink</a></li>
    </ul>
    </div>
</div>

<div class="productr">



    <div class="productdetail">

        <img class="producthero" src="../../static/media/{{ product.image}}" />
        <div class="productdetailtext">
            <h3>{{ product.name|capfirst }}</h3>
            <p>{{ product.desc_short }}</p>
            <p>{{ product.desc_long }}</p>
            <div class="productheroprice">
                <div class="productpricecart">
                    from ${{ product.price }}
                    <br />
                    <button>Add to Cart</button>
                </div>
            </div>

        </div>
    </div>
    <div class="contentclear"></div>


    <hr />










    <div class="contentclear"></div>


</div>
    <div class="contentclear"></div>
</div>

    

{% endblock %}
