{% extends "layout.html" %}

{% block content %}

<div class="container grey" id="grey">

    <div class="sidenav">
            <h4>Department</h4>
            <ul class="sidenav">
                <li><a href="{% url 'product_list' %}">Management</a></li>
                <li><a href="{% url 'product_list' %}">Sales</a></li>
                <li><a href="{% url 'product_list' %}">Development</a></li>
                <li><a href="{% url 'product_list' %}">Operations</a></li>
            </ul>
        </div>


    <div class="subcontent">


        <h4>Staff</h4>
        {% if profiles %}

        {% for profile in profiles %}
        <a href="{% url 'profile_detail' profile.id %}">
            <p>
                {{ profile.first_name }} {{ profile.last_name }}
            </p>
        </a>

        {% endfor %}
        {% endif %}


    </div>
    <div class="contentclear"></div>
</div>



    {% endblock %}
