{% extends "layout.html" %}

{% block content %}
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/content/black.css' %}" />

<div class="container grey" id="grey">

    <div class="sidenav">
        <h4>Categories</h4>
        <ul class="sidenav">
            <li><a href="{% url 'product_list' %}">Full Rockets</a></li>
            <li><a href="{% url 'product_list' %}">Seat Only</a></li>
            <li><a href="{% url 'product_list' %}">Extra Cargo</a></li>
            
        </ul>
    </div>

    <div class="subcontent">



        <div class="producthero">


            <img class="producthero" src="../../static/images/product/cleaner.PNG" />
            <div class="productherotext">
                <h4>ecoPineapple Cleaner Range</h4>
                <p>No more stubborn stains, cleans anything off anything, and save the planet as the same time. You cannot get better!</p>
                <div class="productheroprice">
                    <div class="productpricecart">
                        from $8.95
                        <br />
                        <button>Add to Cart</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="contentclear"></div>


        <hr />








        {% if products %}

        {% for product in products %}
        <a href="{% url 'product_detail' product.id %}">
            <div class="productlist">
                <img class="productlist" src="../../static/media/{{ product.image}}" />
                {{ product.product_id }}
                <div class="productlisttext">
                    <h4>{{ product.name|capfirst }}</h4>
                    <p>{{ product.desc_short }}</p>
                </div>
        </a>
        <div class="productlistprice">
            <div class="productpricecart">
                from ${{ product.price }}
                <br />
                <button>Add to Cart</button>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endif %}


    <div class="contentclear"></div>


</div>
<div class="contentclear"></div>




{% endblock %}
