{% extends "layout.html" %}

{% block content %}

    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/content/blackfade.css' %}" />



<div class="hero">

    <div class="container">

        <img src="../../static/images/homespace.PNG" alt="background image of pineapples" style="width:100%;">

        <div class="heroupper">
            <h1>Eco not for you?</h1>
            <h2>
                We sell rockets so you can leave Earth<br />
                Let’s get you sorted now!
            </h2>
        </div>




        <div class="herolower">
            <a href="{% url 'product_list' %}">
                <span class="btnchange" data-abbr="Save Earth">
                    <span>I Want to Save the Earth</span>
                </span>
            </a>
            <a href="{% url 'rocket_list' %}">
                <span class="btnchange" data-abbr="Buy Rocket">
                    <span>Buy a Rocket to Leave Earth</span>
                </span>
            </a>
        </div>




    </div>
</div>

<div class="container grey" id="grey">

    <div class="contentl">
        <div>
            <p>In the past it was hard to get away from the earth and into space. There were two ways to get there. You had to be either an astronaut or a cosmonaut and working for your counties space agency.  The second way was to be an engineer or scientist that had a reason to be performing a certain experiment in space.  Chances are, unless you are one of the select 565 (as of September 2019) people who have travelled into space, you have spent all your time on earth.</p>
            <p>Today you can leave earth, anyone can leave earth.  ecoPineapple through our partners SpaceX, Virgin Galactic and Blue Origin are enabling you to purchase either a seat or an entire rocket to leave earth.  There will be several options, and destinations you can head in, but the main point of all this is that you can do your part for the planet.</p>
            <p>Why not check it out, you might be surprised that the cost of a rocket is much more than buying eco, so maybe it's time you reconsider what you buy and what you waste today.</p>
        </div>
    </div>
    <div class="contentr">
        <img class="homeimage" src="../../static/images/rockethome.PNG"/>
    </div>
    <div class="contentclear"> </div>
</div>

{% endblock %}
