{% extends "layout.html" %}

{% block content %}
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/content/black.css' %}" />

<div class="container grey" id="grey">

    <div class="sidenav">
        <h4>Categories</h4>
        <ul class="sidenav">
            <li><a href="{% url 'rocket_list' %}">Full Rockets</a></li>
            <li><a href="{% url 'rocket_list' %}">Seat Only</a></li>
            <li><a href="{% url 'rocket_list' %}">Extra Cargo</a></li>
        </ul>
    </div>

    <div class="subcontent">
        <div class="sort">
            <p>Sort by - <a href="#?s=newa">New</a> &darr; | <a href="#?s=named">Name</a> | <a href="#?s=priced">Price</a></p>
        </div>


        {% if rockets %}
        {% for rocket in rockets %}
        {% if rocket.hero == 1 %}
        <a href="{% url 'rocket_detail' rocket.id %}">
            <div class="producthero">
                <img class="producthero" src="../../media/{{ rocket.image}}" />{{ rocket.rocket_id }}
                <div class="productherotext">
                    <h4>{{ rocket.name|capfirst }}</h4>
                    <p>{{ rocket.desc_short }}</p>
                    </div>
                </div>
        </a>
        <div class="productheroprice">
            <div class="productpricecart">
                ${{ rocket.price }}
                <br />
                <button onclick="cartAdd('{{ rocket.name|capfirst }}')">Add to Cart</button>
            </div>
        </div>

    </div>
</div>

<div class="contentclear"></div>


<hr />
            {% endif %}
            {% endfor %}

<div class="productlist">


    {% for rocket in rockets %}
    <div class="productlistitem">
        <a href="{% url 'rocket_detail' rocket.id %}">

            <img class="productlistitem" src="../../media/{{ rocket.image}}" />
            {{ rocket.rocket_id }}
            <div class="productlistitemtext">
                <h4>{{ rocket.name|capfirst }}</h4>
                <p>{{ rocket.desc_short }}</p>
            </div>
        </a>
        <div class="productlistitemprice">
            <div class="productpricecart">
                ${{ rocket.price }}
                <br />
                <button onclick="cartAdd('{{ rocket.name|capfirst }}')">Add to Cart</button>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endif %}


    <div class="contentclear"></div>
</div>

</div>
<div class="contentclear"></div>




{% endblock %}

